div {
    text-align: center;
}

body {
    background-color: aquamarine;
}

button {
}

.row {
    background-color: cornflowerblue;
}

.col-sm {
    background-color: #ffff8e;
    padding-top: 10px;
    padding-bottom: 10px;

}

.container-fluid {
    background-color: #5fff71;
}

#footer {
    font-size: x-small;
    position: fixed;
    height: 40px;
    background: #ffff8e;
    bottom: 0;
}
